.logo {
    &--static {
        display:inline-block;
    }

    &--spin {
        display:none;
    }
}

.navbar-brand {
    &:hover {
        .logo--static {
            display:none;
        }
        .logo--spin {
            display:inline-block;
        }
    }
}

.nav-item {
    margin-left: 1.5rem;
    .nav-link {
    
        &--active {
            color: $blue--active;
            &:hover {
                color: $white;
            }
        }
        &--profile-picture {
            box-sizing: content-box;
            width:50px;
            height:50px;
            object-fit: cover;
            overflow: hidden;
            img {
                overflow-clip-margin: content-box;
                overflow: clip;
                width:50px;
                height:50px;
            }
        }
    }
}

.span-text {
    font-weight:$font-weight-base;
}

.profile-pic {
    z-index:1;
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    z-index: 2;
    border: 5px solid white;
}
.profile-pic .-label {
    cursor: pointer;
    height: 150px;
    width: 150px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: rgb(250, 250, 250);
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
    margin-bottom: 0;
}
.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}
    
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.main-content-view {
    min-height:75vh;
}

#output2:hover {
    background-color: #000000;
    
}
#output2:hover, #output2 #file:hover {
    box-shadow: #00000050 0px 10px 20px;
    transition:all 0.2s;
}

#output2:hover .upload-btn-wrapper .btn {
    background-color: $white;
    color:$blue!important;
}

@media (max-width:287px) {
    .order-pfp {
        background-color: alpha($color: #000000);
        order:2;
        margin:10px auto 0 auto!important;
        .profile-pic {
            margin-top:0!important;
        }
    }
    .order-banner {
        order:1;
        overflow: unset!important;
    }
    #output2 {
        display:flex;
        flex-direction: column!important;
        flex-wrap: nowrap!important;
    }
    .user-counts {
        div {
            width:auto!important;
        }
    }
}

@media (max-width:992px) {
    .navbar-collapse {
        box-shadow: $box-shadow !important;
        border-radius: 50px;
        background-color: $primary;
        .nav-item:not(:last-child) {
            border-bottom: 1px solid $white;
            .nav-link {
                color:$white!important;
            }
        }
        .nav-item:last-child {
            padding:0.5rem 0 0.5rem 0;
            .btn-group .btn {
                border-color: $white!important;
            }
        }
    }
    
}

@media (max-width:430px) {
    .user-counts {
        div {
            width:50%;
        }
    }
    .user-icons {
        margin:auto;
    }
}

.sessions-icons div svg {
    width:50px;
}

